.container{
    height: 100vh;
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
   grid-template-areas: 
   "main1 main1"
   "main2 main2"
   ;
}

.tabelka,th,td{
    border: solid 1px red;
    border-collapse: collapse;
    padding: 20px;
}

.row{
    text-align: center;
    background-color: white;
    
}

th{
    background-color: beige;
    padding: 2rem;
}

.main1{
    grid-area: main1;
    background-color: teal;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main2{
    grid-area: main2;
    background-color: turquoise;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pasek{
    display: flex;
    flex-direction: column;
}