.container{
    height: 100vh;
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
   grid-template-areas: 
   "main05 main0 main1 main1"
   "main3 main3 main2 main2"
   ;
}

.tabelka,th,td{
    border: solid 2px red;
    border-collapse: collapse;
    padding: 20px;
}

.row{
    text-align: center;
    background-color: white;
    
}

th{
    background-color: beige;
    padding: 2rem;
}

.main1{
    grid-area: main1;
    background-color:tan;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: scroll;
}
.main0{
    grid-area: main0;
    background-color: tan;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.main05{
    grid-area: main05;
    background-color: tan;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    
}

.main2{
    grid-area: main2;
    background-color: hsl(33, 29%, 41%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main3{
    grid-area: main3;
    background-color:hsl(33, 29%, 41%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.pasek{
    display: flex;
    flex-direction: column;
    margin: 20px;
    
}
.ins{
    display: flex;
}

.menu1{
    list-style:none;
    display: flex;
}

.pasek1{
    margin: 20px;
    background-color: red;
    font-size: 300%;
    padding:5px;
    margin-right: 500px;
    border-radius: 15px;
    transition: 0.5s;
    
    
    
}


.pasek1:hover{
    background-color: white;
}

.tekst{
    text-decoration: none;
    color: black;
    
    
}

.ikona{
    font-size: 600%;
    color: white;
    transition: 0.5s;
}
.ikona:hover{
    color: beige;
}

